/*! csstools-normalize v9.0.1 | github.com/csstools/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:700');
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes flash {
  from {
    text-shadow: 0 0 10px #fff;
  }
  to {
    text-shadow: 0 0 0px transparent;
  }
}
* {
  box-sizing: border-box;
}
body {
  background-color: #151521;
  margin: 0;
}
p {
  color: #fff;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.merriweather {
  font-family: 'Merriweather', sans-serif;
}
div#main {
  width: 100%;
  max-width: 1140px;
  height: 590px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: calc((100vh - 590px) / 2);
}
@media screen and (max-width: 1140px) {
  div#main {
    max-width: 855px;
  }
}
@media screen and (max-width: 855px) {
  div#main {
    max-width: 570px;
  }
}
@media screen and (max-width: 570px) {
  div#main {
    max-width: 285px;
    margin-top: 0;
    height: auto;
  }
}
div#slider_wrapper {
  width: 200%;
  display: inline-block;
  transition: margin-left 2s cubic-bezier(0.86, 0, 0.07, 1);
  margin-left: 0;
}
div#slider_wrapper * {
  background-repeat: no-repeat;
}
@media screen and (max-width: 570px) {
  div#slider_wrapper {
    width: 100%;
  }
}
div.slider {
  width: 50%;
  float: left;
}
@media screen and (max-width: 570px) {
  div.slider {
    width: 100%;
    background-position-x: 0;
    height: 815px;
  }
}
div.slider > div.sub-slide {
  width: calc(100% / 4);
  height: 590px;
  background-color: transparent;
  float: left;
}
div.slider > div.sub-slide.sub-slide-4 {
  float: right;
}
@media screen and (max-width: 1140px) {
  div.slider > div.sub-slide {
    width: calc(100% / 3);
  }
  div.slider > div.sub-slide.sub-slide-4 {
    display: none;
  }
}
@media screen and (max-width: 855px) {
  div.slider > div.sub-slide {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 570px) {
  div.slider > div.sub-slide.sub-slide-4 {
    display: block;
    width: 100%;
    height: 485px;
  }
  div.slider > div.sub-slide.sub-slide-4 div.inner-content {
    height: 485px;
    background-position-y: top;
    background-size: cover;
    margin-top: 42%;
  }
}
div.visa-to-the-moon,
div.explore-the-surface {
  background-size: 75%;
  background-position-x: right;
  background-position-y: bottom;
}
div.visa-to-the-moon {
  background-color: #252839;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 855px) {
  div.visa-to-the-moon {
    background-size: cover;
    background-position-x: -60%;
  }
}
@media screen and (max-width: 570px) {
  div.visa-to-the-moon {
    width: 100%;
    background-image: none;
  }
}
div.explore-the-surface {
  background-image: url('../assets/images/Moon-phase.jpg');
  background-position-y: top;
  background-color: #131c1c;
  height: 590px;
}
@media screen and (max-width: 570px) {
  div.explore-the-surface {
    display: none;
  }
}
div.inner-content {
  height: calc(590px * 0.72);
  overflow: hidden;
}
div.sub-slide-4 div.inner-content {
  background-size: cover;
  background-position-x: 35%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
div.commonSlides {
  position: absolute;
  width: 100%;
}
div.commonSlides div.sub-slide-1 {
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 570px) {
  div.commonSlides div.sub-slide-1 {
    height: 120px;
    display: block;
    width: 100%;
  }
}
div.commonSlides div.faded-green {
  height: inherit;
  background-color: rgba(10, 76, 63, 0.5);
  filter: blur(15px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
div.sticky {
  width: 100%;
  position: fixed;
  max-width: 1140px;
  height: 590px;
  margin-top: calc(-590px - 2px);
}
@media screen and (max-width: 1140px) {
  div.sticky {
    max-width: 855px;
  }
}
@media screen and (max-width: 855px) {
  div.sticky {
    max-width: 570px;
  }
}
@media screen and (max-width: 570px) {
  div.sticky {
    max-width: 285px;
    position: absolute;
    top: 0;
    margin-top: 0;
    height: 485px;
  }
}
div#text-layout {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
div.logo-wrapper,
div.text-wrapper {
  width: calc(100% / 4);
  float: left;
}
@media screen and (max-width: 1140px) {
  div.logo-wrapper,
  div.text-wrapper {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 855px) {
  div.logo-wrapper,
  div.text-wrapper {
    width: calc(100% /2);
  }
}
@media screen and (max-width: 570px) {
  div.logo-wrapper,
  div.text-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 570px) {
  div.logo-wrapper {
    width: 100%;
  }
}
div.text-wrapper {
  padding: 3% 3% 0;
}
@media screen and (max-width: 570px) {
  div.text-wrapper {
    width: 100%;
    margin-top: 120%;
    height: 520px;
    background-image: url('../assets/images/background.jpg');
    background-size: 330%;
    background-position-x: 15%;
    background-position-y: 100%;
    margin-top: 105%;
  }
}
div.text-wrapper p.trip {
  font-size: 1.2rem;
  line-height: 0;
  margin-top: -1.6rem;
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  transition: color 1s ease-in-out;
}
div.text-wrapper p.trip:hover {
  color: #ff1c5e;
}
@media screen and (max-width: 570px) {
  div.text-wrapper p.trip {
    font-size: 1.2rem;
  }
}
div.text-wrapper p.hashes {
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
img#logo {
  margin-left: 15%;
  margin-top: 15%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 570px) {
  img#logo {
    width: 50%;
    margin-left: 25%;
  }
}
div.launch-wrapper {
  display: inline-block;
  height: 135px;
  border-bottom: 3px solid #19bd9c;
  overflow: hidden;
}
@media screen and (max-width: 570px) {
  div.launch-wrapper {
    margin-top: 5rem;
  }
}
div.launch-wrapper img#launch {
  float: left;
  margin-top: 10rem;
  transition: margin-top 1s cubic-bezier(0.86, 0, 0.07, 1);
}
div.moto-wrapper {
  width: 100%;
  float: left;
  margin-top: 1%;
}
@media screen and (max-width: 570px) {
  div.moto-wrapper {
    position: absolute;
    top: 330px;
  }
}
div.moto-wrapper div.both-motos {
  width: 200%;
  display: inline-block;
  transition: margin-left 2s cubic-bezier(0.86, 0, 0.07, 1);
  margin-left: 0;
}
@media screen and (max-width: 570px) {
  div.moto-wrapper div.both-motos {
    width: 100%;
  }
}
div.moto-wrapper p.moto {
  font-size: 4.4rem;
  line-height: 0;
  letter-spacing: -2px;
  padding-left: 5rem;
  width: 50%;
  float: left;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
div.moto-wrapper p.moto br {
  display: none;
}
@media screen and (max-width: 570px) {
  div.moto-wrapper p.moto br {
    display: inline;
  }
}
@media screen and (max-width: 855px) {
  div.moto-wrapper p.moto {
    font-size: 3rem;
  }
}
@media screen and (max-width: 570px) {
  div.moto-wrapper p.moto {
    font-size: 3rem;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 100%;
    padding: 0 1.5rem;
  }
  div.moto-wrapper p.moto.explore {
    display: none;
  }
}
div.moto-wrapper div.startButton {
  background-color: #ff1c5e;
  padding: 1rem 2rem;
  display: inline-block;
  margin-left: 5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 570px) {
  div.moto-wrapper div.startButton {
    display: none;
  }
}
div.moto-wrapper div.startButton p.start {
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 0;
}
@media screen and (max-width: 855px) {
  div.moto-wrapper div.startButton p.start {
    font-size: 1rem;
  }
}
div.slider-indicator {
  height: calc(590px * 0.28);
  width: calc(100% / 4);
  background-color: #252839;
  margin-top: calc(590px * 0.72);
  margin-left: calc(100% / 2);
  transition: background-color 2s ease-in-out;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 1140px) {
  div.slider-indicator {
    width: calc(100% / 3);
    margin-left: calc((100% / 3)* 2);
  }
}
@media screen and (max-width: 855px) {
  div.slider-indicator {
    width: calc(100% / 2);
    margin-left: calc(100% / 2);
  }
}
@media screen and (max-width: 570px) {
  div.slider-indicator {
    display: none;
  }
}
div.slider-indicator.visa {
  background-color: #252839;
}
div.slider-indicator.explore {
  background-color: #131c1c;
}
div.slider-indicator div.fixer {
  height: inherit;
  width: 100%;
  display: inline-block;
}
div.slider-indicator div.bar {
  width: 50%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20%;
}
div.slider-indicator div.bar div.fill {
  background-color: #19bd9c;
  width: 50%;
  height: 2px;
  float: left;
  margin-left: 0;
  transition: margin-left 2s cubic-bezier(0.86, 0, 0.07, 1);
}
div.slider-indicator nav {
  width: 100%;
  height: 50%;
  display: inline-block;
  padding: 1.5rem 1rem;
  margin-top: -3px;
  transition: background-color 2s ease-in-out;
  background-color: inherit;
}
div.slider-indicator nav button {
  width: 33%;
  float: left;
  padding: 0.5em;
  background-color: transparent;
  border: none;
  color: #19bd9c;
  font-size: 0.9rem;
  border-bottom: 1px solid transparent;
  transition: border-color 1s ease-in-out;
  outline: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
div.slider-indicator nav button:hover {
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid #19bd9c;
}
